.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.blogItem {
  padding-top: 10px;
  padding-left: 2px;
  border: solid;
  border-width: 1px;
  margin-bottom: 5px;
}

.blogItem--body {
  display: none;
}

.blogItem--body.show {
  display: block;
}

.nav {
  display: flex;
  gap: 1rem;
  background-color: lightgray;
  padding: 5px;
  margin-bottom: 1rem;
}

.nav p {
  margin: 0;
}